.about {
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.my-profile {
  max-width: 330px;
  flex-basis: 28%;
  border-radius: 150px 10px 10px 20px;
  background: #fff;
  padding: 10px 10px;
}

.about div {
  flex-basis: 50%;
}

.about p {
  color: #aeadad;
  line-height: 2;
  font-size: 16px;
}

h3 {
  color: #f2f2f2;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.social {
  display: inline-block;
  align-items: center;
  margin-top: 15px;
  padding-left: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
}

.icon:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #007bff;
}

@media (max-width: 850px) {
  .about {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .my-profile {
    flex-basis: 100%;
    margin: 20px;
    border-radius: 20px;
    background: transparent;
    width: 100%;
  }
  .about div {
    flex-basis: 100%;
    margin: 20px;
  }
  .about p {
    line-height: 2;
    font-size: 18px;
  }
  .social {
    padding-left: 0;
  }
  .icon {
    width: 10px;
    height: 10px;
  }
}
